.navi {
  background-color: lightblue;
  text-align: center;
}

a {
text-decoration: none;
}

.foot {
  background-color: lavender;
  text-align: center;
}

.dreams {
  background-color: bisque;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dreamName {
  text-align: center;
}

.dreams-card {
  display: flex;
  justify-content: center;
  
}

.dream-heading {
  text-align: center;
}

.new-dream {
  background-color: darkseagreen;
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 10px;
  padding: 10px;
}

.flip-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flip-card-back {
  /* background-color: dodgerblue;
  color: white; */
  transform: rotateY(180deg);
  
}