body {
  background-color: black;
  background-image: url(https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.mainHeading {
  text-align: center;
  padding: 10px;
}

.navi {
  text-align: center;
  font-size: large;
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  animation: neon .08s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}

button {
  border-radius: 5px;
  padding: 5px 10px;
}

button:hover {
  box-shadow: 1px 1px 5px 1px white;
  cursor: pointer;
}

.btn {
  border-radius: 5px;
  padding: 5px 10px;
}

.btn:hover {
  box-shadow: 1px 1px 5px 1px white;
  cursor: pointer;
}

input {
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  font-size: medium;
}

textarea {
  padding: 10px;
  border-radius: 5px;
  font-size: large;
}

.foot {
  text-align: center;
  padding: 10px;
}

.dreams {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dreamName {
  text-align: center;
}

.dreams-card {
  display: flex;
  justify-content: center;
}

.dream-heading {
  text-align: center;
}

.new-dream, .search {
  text-align: center;
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 10px;
  padding: 10px;
}

.flip-card:hover {
  animation: neon .08s ease-in-out infinite alternate;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flip-card-back {
  transform: rotateY(180deg);
  
}